/* Estilos Pag. */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

body h2 {
    text-align: center;
    
}

header {
    width: 100%;
    height: 8rem;

}

header div {
    position: fixed;
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    color: black;
}

header h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 3rem;
    margin: 0;
}
nav{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: .5rem;

}

nav ul li {
    display: inline;
    margin-right: 20px;
    background-color: white;
    padding: .2rem;
    border-radius: 1rem;
    border: solid 4px white;
}

nav ul li:hover {
    background-color: #d5bdafff;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#numero-carrito {
    padding: .25rem;
}
.titulo-principal{
    margin-top: 2.5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 5rem;
    background-image: url(./imagenes/fondos/fondo103.png);
    background-size: 100%;
}

.producto {

    padding: 10px;
    text-align: center;
    border-radius: 2rem;
    border: solid 2px rgb(255, 181, 71);
    background-color: rgb(253, 221, 174);
}

.contenedor-img {
    display: block;
    height: 50%;
}

.img-producto {
    width: 10rem;
    height: 100%;
    border-radius: 1rem;
    background-color: antiquewhite;
    padding: 1.2rem;
}

.agregar-al-carrito {
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: .2rem;
    font-family: 'Rethink Sans', sans-serif;
    cursor: pointer;
    border: solid antiquewhite;
}

.agregar-al-carrito:hover {
    background-color: darksalmon;
}

#carrito {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

.hidden {
    display: none;
}

#mensaje {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff2200;
    color: white;
    padding: 15px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

footer {
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: burlywood;
}

/* Estilos para el carrito */

.nav-carrito {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;  
    margin-top: 2rem;
    font-weight: bolder;
}
.nav-carrito div{
    background-color:antiquewhite ;
    border-radius: 5rem;
    width: 35%;
    display: flex;
    justify-content: space-around;
}
.carrito-menu {
    color: black;
    text-decoration: none;
    text-align: center;
    align-content: center;
    height: 1.9rem;    
    width: 50%;
}

.inicio-carrito {
    border-radius: 5rem;
    background-color: rgb(211, 146, 99);

}

.inicio-carrito:hover {
    border-radius: 5rem;
    background-color: rgb(251, 164, 101);
    border: solid 2px black;
    height: 1.7rem;
}

.titulo-carrito {
    width: 100%;
    text-align: center;
}

.contenido-carrito {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
#carrito-lista {
    padding: 0;
    list-style-type: none;
    width: 30rem;
}

.carrito-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.prod, .nom, .pre, .cant, .sub, .titulo-boton-eliminar{
    width: 11%;
    font-size: 1.5rem;
    font-weight: bolder;
}
#carrito-lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#carrito-lista li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#carrito-lista input[type="number"] {
    width: 50px;
}

.carrito-imagen {
    width: 3rem;
}

.carrito-prod-eliminar {
    height: 100%;
}

.titulo-boton-eliminar {
    width: 10%;
}

.tituloVacio {
    font-size: 2rem;
}

#total {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;    
}
.botones{
    text-align: center;
    width: 100%;
    
}

@media screen and (max-width: 560px){ 
    .nav-carrito {
        font-size: .9rem;  
    } 
}